body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0px;
}

.header,
.section-one,
.section-four {
  padding-left: 160px;
  padding-right: 160px;
}

.section-one,
.section-two,
.section-three,
.section-four {
  padding-top: 100px;
  padding-bottom: 100px;
}

div.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
}

div.header a {
  text-decoration: none;
}

div.header .header-logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

div.header ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding-left: 0px;
  margin-left: auto;
}

div.header ul a {
  font-size: 18px;
  color: #e5e7eb;
}

div.section-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
}

div.section-one-text {
  max-width: 50%;
}

div.section-one-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 15px 0px;
}

div.section-one-text p {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0px;
}

div.section-one-text button {
  color: #f9faf8;
  background-color: #3882f6;
  padding: 8px 25px;
  font-weight: 900;
  font-size: 18px;
  border-radius: 12px;
  border-style: none;
  margin-top: 15px;
}

.placeholder-img {
  height: 300px;
  width: 600px;
  background-color: grey;
}

.section-two h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin: 40px 0;
}

.section-two .cards {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.section-two .card {
  width: 200px;
  text-align: center;
}

.section-two .img {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 16px;
}

.section-three {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-three blockquote,
.section-three figure {
  margin: 0px;
}

.section-three figure {
  width: 45%;
}

.section-three p {
  font-weight: 100;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  margin: 20px 0px;
}

.section-three figcaption {
  text-align: right;
  font-weight: 800;
}

.section-four-card {
  background-color: #3882f6;
  padding: 24px 32px;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
}

.section-four p {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0px;
}

.section-four p:first-child {
  font-weight: 800;
}

.section-four button {
  color: #f9faf8;
  background-color: #3882f6;
  border: 5px solid white;
  border-radius: 12px;
  padding: 8px 25px;
  font-weight: 900;
  font-size: 18px;
}